# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.dockerignore
.gitignore
.vscode
.github
.git
README.md
