# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.dockerignore
.gitignore
# .git     # Don't ignore the .git directory. We need it to get the git tag when building the Docker image.
README.md
