name: ci-golang-lint
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
jobs:
  golang-lint:
    if: github.event_name == 'pull_request'
    name: lint
    runs-on: warp-ubuntu-latest-x64-4x
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: Generate Code
        working-directory: runtime
        run: make generate
      - name: golang-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
          working-directory: runtime
          args: --timeout=10m
