name: ci-release-info-build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - .github/workflows/ci-release-info-build.yaml
      - tools/release-info/**

permissions:
  contents: read

jobs:
  build:
    if: github.event_name == 'pull_request'
    name: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tools/release-info
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: ">=22"
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
