name: ci-sdk-as-build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - sdk/assemblyscript/**

permissions:
  contents: read

jobs:
  get-dirs:
    if: github.event_name == 'pull_request'
    name: search
    runs-on: ubuntu-latest
    outputs:
      dirs: ${{ steps.get-dirs.outputs.dirs }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Find Examples
        id: get-dirs
        run: echo "dirs=$(ls -d sdk/assemblyscript/examples/* | jq -Rsc 'split("\n")[:-1]' )" >> ${GITHUB_OUTPUT}
      - name: Install source dependencies
        working-directory: sdk/assemblyscript/src
        run: npm ci

  sdk-as-build-examples:
    needs: get-dirs
    if: github.event_name == 'pull_request'
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: ${{ fromJson(needs.get-dirs.outputs.dirs) }}
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ">=22"
      - name: Install example dependencies
        run: npm ci
      - name: Build project
        run: npm run build
