name: Release Runtime

on:
  push:
    tags:
      - runtime/v*

permissions:
  contents: write

jobs:
  release:
    runs-on: warp-ubuntu-latest-x64-4x
    steps:
      - name: Validate version
        if: ${{ !startsWith(github.ref_name, 'runtime/v') }}
        run: echo "Modus Runtime version must start with 'runtime/v'" && exit 1
      - uses: actions/checkout@v4
        with:
          ref: "${{ github.ref_name }}"
      - uses: actions/setup-go@v5
        with:
          go-version: 1.23
          check-latest: true
          cache-dependency-path: runtime/go.sum
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser-pro
          version: 2.3.2
          args: release --clean -f ./runtime/.goreleaser.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GORELEASER_KEY: "${{ secrets.GORELEASER_KEY }}"
