name: Release Runtime

on:
  push:
    tags:
      - runtime/v*

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Validate version
        if: ${{ !startsWith(github.ref_name, 'runtime/v') }}
        run: echo "Modus Runtime version must start with 'runtime/v'" && exit 1
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: "${{ github.ref_name }}"
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ">=22"
      - name: Install API Explorer dependencies
        working-directory: runtime/explorer/content
        run: npm ci
      - name: Build API Explorer
        working-directory: runtime/explorer/content
        run: npm run build
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.6
          cache-dependency-path: runtime/go.sum
      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser-pro
          version: ~> v2
          args: release --clean -f ./runtime/.goreleaser.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          GORELEASER_KEY: "${{ secrets.GORELEASER_KEY }}"
          MACOS_SIGN_P12: "${{ secrets.MACOS_SIGN_P12 }}"
          MACOS_SIGN_PASSWORD: "${{ secrets.MACOS_SIGN_PASSWORD }}"
          MACOS_NOTARY_ISSUER_ID: "${{ secrets.MACOS_NOTARY_ISSUER_ID }}"
          MACOS_NOTARY_KEY_ID: "${{ secrets.MACOS_NOTARY_KEY_ID }}"
          MACOS_NOTARY_KEY: "${{ secrets.MACOS_NOTARY_KEY }}"
      - name: Trigger event on hypermodeinc/hyp-cluster
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: hypermodeinc/hyp-cluster
          event-type: release
          client-payload: '{"repo": "${{ github.repository }}", "tag": "${{ github.ref_name }}"}'
  release-info:
    needs: release
    name: Generate Release Info
    uses: ./.github/workflows/release-info.yaml
    secrets: inherit
