name: Release Go SDK

on:
  push:
    tags:
      - sdk/go/v*

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Validate version
        if: ${{ !startsWith(github.ref_name, 'sdk/go/v') }}
        run: echo "Modus Go SDK version must start with `sdk/go/v`" && exit 1
      - uses: actions/checkout@v5
        with:
          ref: "${{ github.ref_name }}"
      - name: Parse SDK Version
        id: parse_sdk_version
        run: |
          echo "sdk_version=$(echo '${{ github.ref_name }}' | cut -d'/' -f 3)" >> $GITHUB_OUTPUT
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.1
          cache-dependency-path: ./sdk/go/go.sum
      - name: Prepare Release
        working-directory: sdk/go
        run: ./scripts/prepare-release.sh ${{ steps.parse_sdk_version.outputs.sdk_version }}
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            sdk/go/sdk.json
            sdk/go/templates_go_${{ steps.parse_sdk_version.outputs.sdk_version }}.tar.gz
          prerelease: ${{ contains(steps.parse_sdk_version.outputs.sdk_version, '-') }}
          make_latest: false
  release-info:
    needs: release
    name: Generate Release Info
    uses: ./.github/workflows/release-info.yaml
    secrets: inherit
